<fieldset>
    <label for="title" title="<sup>*</sup>required">Title<sup>*</sup> :</label>
    <input class="form-control" type="text" id="title" name="title" value="<%=song.title%>" placeholder="Title" title="<sup>*</sup>required" required>
</fieldset>
<fieldset>
    <label for="album" title="<sup>*</sup>required">Album<sup>*</sup> :</label>
    <input class="form-control" type="text" id="album" name="album" value="<%=song.album%>" placeholder="Album" title="<sup>*</sup>required" required>
</fieldset>
<fieldset>
    <label for="artist" title="<sup>*</sup>required">Artist<sup>*</sup> :</label>
    <input class="form-control" type="text" id="artist" name="artist" value="<%=song.artist%>" placeholder="Artist" title="<sup>*</sup>required" required>
</fieldset>
<fieldset>
    <label for="year">Year :</label>
    <input class="form-control" type="number" id="year" name="year" value="<%=song.year%>" placeholder="XXXX" maxlength="4">
</fieldset>
<fieldset>
    <label for="BPM">BPM :</label>
    <input class="form-control" type="number" id="bpm" name="bpm" value="<%=song.bpm%>" placeholder="XXX" maxlength="3">
</fieldset>