<% include partials/header %>
<h1><%=song.title%></h1>
<hr/>
Album : <%=song.album%>
Artist : <%=song.artist%>
<% if (song.year) { %>
Year : <%=song.year%>
<% } %>
<% if (song.bpm) { %>
BPM : <%=song.bpm%>
<% } %>
<% include partials/footer %>