<% include partials/header %>

<div class="row">
    <div class="col-md-6 col-md-offset-3 panel">
        <form action="/users" class="form-inline" method="GET">
            <div class="form-group col-md-6" style="margin-top: 10px;">
                <label for="userFilter" style="width: 40%;">Filtrer par:</label>
                <select class="form-control" name="userFilter" id="userFilter" style="width: 50%;">
                    <option id="displayName" name="displayName" value="displayName">Display Name</option>
                    <option id="username" name="username" value="username">Username</option>
                </select>
            </div>
            <div class="form-group label-floating col-md-6" style="margin-top: 10px;">
                <div class="input-group">
                    <input type="text" name="value" class="form-control" value="<%= name || "" %>" placeholder="Rechercher" required/>
                    <span class="input-group-btn">
                      <button type="submit" class="btn btn-fab btn-primary btn-fab-mini">
                          <i class="material-icons">&#xE8B6;</i>
                      </button>
                    </span>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h4 class="pull-left"><%= usersCount || "Aucun"  %> utilisateur(s) trouvé(s)</h4>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <% if (hasFilter) { %>
        <h5 class="pull-left"><a href="/users" class="text-danger"><i class="material-icons">&#xE5CD;</i> Effacer les filtres</a></h5>
        <% } %>
        <table class="table table-striped table-hover panel">
            <thead class="panel-heading">
            <tr>
                <th>Display Name</th>
                <th>Username</th>
                <th class="text-center">Action</th>
            </tr>
            </thead>
            <tbody class="panel-body">
            <% users.forEach(function(user) {%>
            <tr>
                <td>
                    <a href="/users/<%=user._id%>"><%=user.displayName%></a>
                </td>
                <td><%=user.username%></td>
                <td class="col-md-3">
                    <a href="/users/<%=user._id%>" class="btn btn-primary btn-raised btn-sm pull-right" title="View <%=user.displayName%>">View</a>
                </td>
            </tr>
            <% }) %>
            </tbody>
        </table>
    </div>
</div>

<% include partials/footer %>